<html>
<head>
    <title>Redirect</title>
    <script type="application/javascript">
        if (window.location.hash) {
            let params = {};
            // TODO: If hash values aren't as expected
            window.location.hash.split("&").forEach(function(element) {
                let parts = element.split("=");
                params[parts[0].replace("#", "")] = parts[1];
            });
            fetch("redirect_post", {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(params)
            }).then(data => {
                console.log(data);
                document.getElementById("messages").innerHTML = "You have successfully given permission, thank you."
            })
        } else {
            document.getElementById("messages").innerText = "Cannot find the correct request arguments"
        }
    </script>
</head>
<body>
<div id="messages"></div>

</body>
</html>
